In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_training_set = pd.read_csv("training_set_features.csv")

In [3]:
df_training_labels = pd.read_csv("training_set_labels.csv")

In [4]:
len(df_training_set)

26707

In [5]:
len(df_training_labels)

26707

In [6]:
df_training_labels.columns

Index(['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine'], dtype='object')

In [7]:
df_training_set.columns

Index(['respondent_id', 'h1n1_concern', 'h1n1_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [8]:
print(len(df_training_labels.columns))
print(len(df_training_set.columns))

3
36

In [9]:
df_training_set.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [10]:
df_training_labels.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

In [11]:
# how many categories in the 'employment_industry' feature
len(df_training_set['employment_industry'].value_counts())

21

In [12]:
# # how many categories in the 'employment_occupation' feature
len(df_training_set['employment_occupation'].value_counts())

23

In [13]:
# concatenate 'training_set_features' and 'training_labels' datasets 
df = pd.concat([df_training_labels,df_training_set], axis = 1)

In [14]:
df.shape

(26707, 39)

In [15]:
# drop the id column
df.drop(['respondent_id'], axis = 1, inplace = True)

In [16]:
df.shape

(26707, 37)

In [17]:
df.head()

,h1n1_vaccine,seasonal_vaccine,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,0,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,0,0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,0,1,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,0,0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [18]:
df.columns

Index(['h1n1_vaccine', 'seasonal_vaccine', 'h1n1_concern', 'h1n1_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

In [19]:
# plan:
# impute missing values
# drop rows that are missing values for important columns
# do feature engineering
# draw correlations
# drop strongly correlated features
#  do a heatmap

In [20]:
# is the 'seasonal_vaccine' column missing any values?
df['seasonal_vaccine'].isna().value_counts()

False    26707
Name: seasonal_vaccine, dtype: int64

In [21]:
# is the 'h1n1_vaccine' column missing any values?
df['h1n1_vaccine'].isna().value_counts()

False    26707
Name: h1n1_vaccine, dtype: int64

In [22]:
# list of binary features
binary_list = ['h1n1_vaccine','behavioral_antiviral_meds','behavioral_avoidance','behavioral_face_mask','behavioral_wash_hands' , 'behavioral_large_gatherings','behavioral_outside_home','behavioral_touch_face' , 'doctor_recc_h1n1', 'doctor_recc_seasonal', 'chronic_med_condition', 'child_under_6_months', 'health_worker', 'health_insurance']

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_vaccine                 26707 non-null  int64
 1   seasonal_vaccine             26707 non-null  int64
 2   h1n1_concern                 26615 non-null  float64
 3   h1n1_knowledge               26591 non-null  float64
 4   behavioral_antiviral_meds    26636 non-null  float64
 5   behavioral_avoidance         26499 non-null  float64
 6   behavioral_face_mask         26688 non-null  float64
 7   behavioral_wash_hands        26665 non-null  float64
 8   behavioral_large_gatherings  26620 non-null  float64
 9   behavioral_outside_home      26625 non-null  float64
 10  behavioral_touch_face        26579 non-null  float64
 11  doctor_recc_h1n1             24547 non-null  float64
 12  doctor_recc_seasonal         24547 non-null  float64
 13  chronic_med_condition        25736 non-null  float64
 14  child_under_6_months         25887 non-null  float64
 15  health_worker                25903 non-null  float64
 16  health_insurance             14433 non-null  float64
 17  opinion_h1n1_vacc_effective  26316 non-null  float64
 18  opinion_h1n1_risk            26319 non-null  float64
 19  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 20  opinion_seas_vacc_effective  26245 non-null  float64
 21  opinion_seas_risk            26193 non-null  float64
 22  opinion_seas_sick_from_vacc  26170 non-null  float64
 23  age_group                    26707 non-null  object
 24  education                    25300 non-null  object
 25  race                         26707 non-null  object
 26  sex                          26707 non-null  object
 27  income_poverty               22284 non-null  object
 28  marital_status               25299 non-null  object
 29  rent_or_own                  24665 non-null  object
 30  employment_status            25244 non-null  object
 31  hhs_geo_region               26707 non-null  object
 32  census_msa                   26707 non-null  object
 33  household_adults             26458 non-null  float64
 34  household_children           26458 non-null  float64
 35  employment_industry          13377 non-null  object
 36  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(2), object(12)
memory usage: 7.5+ MB

In [24]:
df['age_group'].value_counts()

65+ Years        6843
55 - 64 Years    5563
45 - 54 Years    5238
18 - 34 Years    5215
35 - 44 Years    3848
Name: age_group, dtype: int64

In [25]:
# encode the 'age_group' feature values into a numeric form
df['age_group'].replace({ '18 - 34 Years' : 1, '35 - 44 Years' : 2, '45 - 54 Years' : 3,'55 - 64 Years' : 4,'65+ Years' : 5 }, inplace = True)

In [26]:
df['age_group'].value_counts()

5    6843
4    5563
3    5238
1    5215
2    3848
Name: age_group, dtype: int64

In [27]:
df['education'].value_counts()

College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           2363
Name: education, dtype: int64

In [28]:
# encode the 'education' feature values into a numeric form
df['education'].replace({ '< 12 Years' : 1, '12 Years' : 2, 'Some College' : 3,'College Graduate' : 4}, inplace = True)

In [29]:
df['education'].value_counts()

4.0    10097
3.0     7043
2.0     5797
1.0     2363
Name: education, dtype: int64

In [30]:
df['race'].value_counts()

White                21222
Black                 2118
Hispanic              1755
Other or Multiple     1612
Name: race, dtype: int64

In [31]:
# encode the 'race' feature values into a numeric form
df['race'].replace({ 'Black' : 1, 'Hispanic' : 2, 'White' : 3,'Other or Multiple' : 4}, inplace = True)

In [32]:
df['race'].value_counts()

3    21222
1     2118
2     1755
4     1612
Name: race, dtype: int64

In [33]:
df['sex'].value_counts()

Female    15858
Male      10849
Name: sex, dtype: int64

In [34]:
# encode the 'sex' feature values into a numeric form
df['sex'].replace({ 'Female' : 1, 'Male' : 2}, inplace = True)

In [35]:
df['sex'].value_counts()

1    15858
2    10849
Name: sex, dtype: int64

In [36]:
df['income_poverty'].value_counts()

<= $75,000, Above Poverty    12777
> $75,000                     6810
Below Poverty                 2697
Name: income_poverty, dtype: int64

In [37]:
# encode the 'income_poverty' feature values into a numeric form
df['income_poverty'].replace({ 'Below Poverty' : 1, '> $75,000' : 2,'<= $75,000, Above Poverty' : 3}, inplace = True)

In [38]:
df['income_poverty'].value_counts()

3.0    12777
2.0     6810
1.0     2697
Name: income_poverty, dtype: int64

In [39]:
df['marital_status'].value_counts()

Married        13555
Not Married    11744
Name: marital_status, dtype: int64

In [40]:
# encode the 'marital_status' feature values into a numeric form
df['marital_status'].replace({ 'Married' : 1, 'Not Married' : 2}, inplace = True)

In [41]:
df['marital_status'].value_counts()

1.0    13555
2.0    11744
Name: marital_status, dtype: int64

In [42]:
df['rent_or_own'].value_counts()

Own     18736
Rent     5929
Name: rent_or_own, dtype: int64

In [43]:
# encode the 'rent_or_own' feature values into a numeric form
df['rent_or_own'].replace({ 'Rent' : 1, 'Own' : 2}, inplace = True)

In [44]:
df['rent_or_own'].value_counts()

2.0    18736
1.0     5929
Name: rent_or_own, dtype: int64

In [45]:
df['employment_status'].value_counts()

Employed              13560
Not in Labor Force    10231
Unemployed             1453
Name: employment_status, dtype: int64

In [46]:
# encode the 'employment_status' feature values into a numeric form
df['employment_status'].replace({ 'Unemployed' : 1, 'Not in Labor Force' : 2,'Employed' : 3}, inplace = True)

In [47]:
df['employment_status'].value_counts()

3.0    13560
2.0    10231
1.0     1453
Name: employment_status, dtype: int64

In [48]:
df['hhs_geo_region'].value_counts()

lzgpxyit    4297
fpwskwrf    3265
qufhixun    3102
oxchjgsf    2859
kbazzjca    2858
bhuqouqj    2846
mlyzmhmf    2243
lrircsnp    2078
atmpeygn    2033
dqpwygqj    1126
Name: hhs_geo_region, dtype: int64

In [49]:
# encode the 'hhs_geo_region' feature values into a numeric form
df['hhs_geo_region'].replace({ 'lzgpxyit' : 1, 'fpwskwrf' : 2, 'qufhixun' : 3,'oxchjgsf' : 4,'kbazzjca' : 5, 'bhuqouqj' : 6, 'mlyzmhmf' : 7, 'lrircsnp' : 8,'atmpeygn' : 9, 'dqpwygqj' : 10 }, inplace = True)

In [50]:
df['hhs_geo_region'].value_counts()

1     4297
2     3265
3     3102
4     2859
5     2858
6     2846
7     2243
8     2078
9     2033
10    1126
Name: hhs_geo_region, dtype: int64

In [51]:
df['census_msa'].value_counts()

MSA, Not Principle  City    11645
MSA, Principle City          7864
Non-MSA                      7198
Name: census_msa, dtype: int64

In [52]:
# encode the 'census_msa' feature values into a numeric form
df['census_msa'].replace({ 'Non-MSA' : 1, 'MSA, Not Principle  City' : 2,'MSA, Principle City' : 3}, inplace = True)

In [53]:
df['census_msa'].value_counts()

2    11645
3     7864
1     7198
Name: census_msa, dtype: int64

In [54]:
df['employment_industry'].value_counts()

fcxhlnwr    2468
wxleyezf    1804
ldnlellj    1231
pxcmvdjn    1037
atmlpfrs     926
arjwrbjb     871
xicduogh     851
mfikgejo     614
vjjrobsf     527
rucpziij     523
xqicxuve     511
saaquncn     338
cfqqtusy     325
nduyfdeo     286
mcubkhph     275
wlfvacwt     215
dotnnunm     201
haxffmxo     148
msuufmds     124
phxvnwax      89
qnlwzans      13
Name: employment_industry, dtype: int64

In [58]:
df['employment_occupation'].isna().value_counts()

True     13470
False    13237
Name: employment_occupation, dtype: int64

In [59]:
df['employment_industry'].isna().value_counts()

False    13377
True     13330
Name: employment_industry, dtype: int64

In [ ]:
# drop 'employment_occupation' and 'employment_industry' features because too many (~50 %)
# of the data is null.

In [60]:
df.drop(columns = ['employment_occupation','employment_industry'], inplace = True)

In [61]:
df.head()

,h1n1_vaccine,seasonal_vaccine,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,...,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children
0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,3,1,1.0,2.0,2.0,2.0,4,1,0.0,0.0
1,0,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,...,3,2,1.0,2.0,1.0,3.0,6,2,0.0,0.0
2,0,0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3,2,3.0,2.0,2.0,3.0,3,2,2.0,0.0
3,0,1,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,3,1,1.0,2.0,1.0,2.0,8,3,0.0,0.0
4,0,0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,3,1,3.0,1.0,2.0,3.0,3,2,1.0,0.0

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_vaccine                 26707 non-null  int64
 1   seasonal_vaccine             26707 non-null  int64
 2   h1n1_concern                 26615 non-null  float64
 3   h1n1_knowledge               26591 non-null  float64
 4   behavioral_antiviral_meds    26636 non-null  float64
 5   behavioral_avoidance         26499 non-null  float64
 6   behavioral_face_mask         26688 non-null  float64
 7   behavioral_wash_hands        26665 non-null  float64
 8   behavioral_large_gatherings  26620 non-null  float64
 9   behavioral_outside_home      26625 non-null  float64
 10  behavioral_touch_face        26579 non-null  float64
 11  doctor_recc_h1n1             24547 non-null  float64
 12  doctor_recc_seasonal         24547 non-null  float64
 13  chronic_med_condition        25736 non-null  float64
 14  child_under_6_months         25887 non-null  float64
 15  health_worker                25903 non-null  float64
 16  health_insurance             14433 non-null  float64
 17  opinion_h1n1_vacc_effective  26316 non-null  float64
 18  opinion_h1n1_risk            26319 non-null  float64
 19  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 20  opinion_seas_vacc_effective  26245 non-null  float64
 21  opinion_seas_risk            26193 non-null  float64
 22  opinion_seas_sick_from_vacc  26170 non-null  float64
 23  age_group                    26707 non-null  int64
 24  education                    25300 non-null  float64
 25  race                         26707 non-null  int64
 26  sex                          26707 non-null  int64
 27  income_poverty               22284 non-null  float64
 28  marital_status               25299 non-null  float64
 29  rent_or_own                  24665 non-null  float64
 30  employment_status            25244 non-null  float64
 31  hhs_geo_region               26707 non-null  int64
 32  census_msa                   26707 non-null  int64
 33  household_adults             26458 non-null  float64
 34  household_children           26458 non-null  float64
dtypes: float64(28), int64(7)
memory usage: 7.1 MB